<div class="hero-unit">
	<h1>Welcome to InnerCircle</h1>
	<p>
	  Relationship Management for those closest to you.
	</p>
	<p>
	  <%= link_to "Sign Up Now!", "#", class: "btn btn-large btn-primary" %>
	</p>
</div>