<h1>My Inner Circle</h1>
<div class="well">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Image</th>
        <th>Name</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%= render @contacts %>
    </tbody>
  </table>
  <%= link_to 'Add New Contact', new_contact_path, class: "btn" %>
</div>
<br />


